@import url("");
:root {
  /*size*/
  --size_icon_logo : 48px;
  --size_register-succes : 48px; /*register succes - 가입 환영*/
  --size_title : 34px; /*Write & Detail - 책 제목*/
  --size_info : 24px; /*Sign up - 왼쪽 인용구 / register success - 가입 안내*/
  --size_menu : 20px; /*Home - 책 찾아보기, 필터, 트렌딩, 책 제목 / Write & Detail - 서명, 분야, 저자, 출판사 / Sign up - 회원가입 */
  --size_comments : 16px; /*댓글*/
  --size_hashtag : 16px; /*해시태그#*/
  --size_menu-medium : 14px;
  --size_button : 14px; /*모든 버튼*/
  --size_list : 14px; /*Home - 리스트에 들어가는 모든 항목(분야, 제목, 저자, 작성자, 좋아요)*/
  --size_profile : 14px; /*프로필 - 이름, 작성된 날짜*/
  --size_signup-input : 12px; /*Sign up - input박스 안에 들어가는 입력값, 개인정보 동의 안내*/
  /*size(Home의 grid view)*/
  --size_grid-content-title : 18px;
  --size_like-number :12px;
  --size_grid-book-title : 12px;
  --size_summary : 14px;
  --size_write-info : 12px;
  /* size(Home의 list view) */
  --size_list-view : 14px;
  --size_list-view-content : 13px;
  
  /* width&height */
  --width_list-view-content-title : 360px;
  --width_list-view-book-title : 190px;
  --width_list-view-profile-nickname : 130px;
  --height_list-view-content : 80px;

  /*color*/
  --color_highlight : #4FBA80; /*버튼, 하이라이트된 부분*/
  --color_logo : #0F9B6B; /*로고 있는 부분, 회원가입 페이지 임시저장 부분*/
  --color_gradient :  #A6CBB7; /*gradient*/
  --color_background : #F7F7F7;
  --color_white : #FFFFFF;
  --color_black : #000000;

  /*opacity(투명도, high가 가장 진함)*/
  --opacity_high : 0.87;
  --opacity_medium : 0.68;
  --opacity_low : 0.38;

  /*padding*/
  --padding_container-top: 30px;
  --padding_list-view-content: 10px;
  --padding_lsit-view-content-right: 15px;
  
  /*margin*/
  --margin_container-side : 80px;
}

* {
  box-sizing: border-box;
}

button {
  border-style: none;
  background: none;
}

button:focus {
  border: none;
  outline: none;
}
input:focus {
  outline: none;
}

a {
  color: none;
}

html {
  font-family: "",;
  color: #424952;
}

body {
  position: relative;
  margin: 0;
  background: linear-gradient(var(--color_gradient), 40px, var(--color_background) 100px) var(--color_gradient);
}

body.login-form-show::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.8);
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 85px 85px 1fr;
  padding-top: var(--padding_container-top);
  margin: 0 var(--margin_container-side);
  column-gap: 80px;
}

header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
}

header .logo {
  height: 48px;
  color: var(--color_primary-variant1);
}

header .logo .site-name {
  margin-left: 12px;
}

header nav {
  height: 48px;
  display: flex;
  align-items: center;
}

header nav .login {
  padding: 7px 6px 1px 6px;
}

header nav .sign-up {
  padding: 7px 6px 1px 6px;
}

/* login-form 관련 css */
header #login-form-container {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100vh;
}

header #login-form-container .login-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;
  height: 400px;
  border-radius: 10px;
  padding: 20px 40px;
  margin: -200px 0 0 -350px;
  background-color: var(--color_background);
  z-index: 1;
}

header #login-form-container .login-form .logo{
  display: flex;
  align-items: center;
  align-self: center;
  margin-bottom: 20px;
}

header #login-form-container .login-form .logo img{
  height: 30px;
}

header #login-form-container .login-form .login-form-hide {
  align-self: flex-end;
  width: 20px;
  height: 20px;
  padding: 0px;
  color: var(--color_black);
  opacity: var(--opacity_medium);
}

header #login-form-container .login-form .login-form-hide:hover {
  background-color: rgb(0, 0, 0, 0.08);
  border-radius: 50px;
}

header #login-form-container .login-form input {
  height: 40px;
  border: 1px solid rgb(0, 0, 0, 0.08);
  padding: 10px;
  margin: 10px 0 20px 0;
  background-color: rgb(0, 0, 0, 0.03);
}

header #login-form-container .login-form #login-form-submit {
  height: 40px;
  margin: 20px 0 20px 0;
  background-color: var(--color_highlight);
  color: var(--color_white);
}

/*header hover효과*/
header nav .login::after {
  margin-top: 5px;
  display: block;
  width: 100%;
  height: 2px;
  content: "";
  background-color: var(--color_highlight);
  transform: translateX(0) scaleX(0);
  -webkit-transform: translateX(0) scaleX(0);
  transition: transform .3s;
  -webkit-transition: transform .3s;
}

header nav .login:hover::after {
  transform: translateX(0) scaleX(1.1);
  -webkit-transform: translateX(0) scaleX(1.1);
  transition: transform .3s;
  -webkit-transition: transform .3s;
}

header nav .sign-up::after {
  margin-top: 5px;
  display: block;
  width: 100%;
  height: 2px;
  content: "";
  background-color: var(--color_highlight);
  transform: translateX(0) scaleX(0);
  -webkit-transform: translateX(0) scaleX(0);
  transition: transform .3s;
  -webkit-transition: transform .3s;
}

header nav .sign-up:hover::after {
  transform: translateX(0) scaleX(1.1);
  -webkit-transform: translateX(0) scaleX(1.1);
  transition: transform .3s;
  -webkit-transition: transform .3s;
}

header nav #write-button:hover {
  box-shadow: 0px 0px 15px #52D384;
  transition: box-shadow .5s;
}

header button {
  margin-left: 20px;
  color: var(--color_logo);
}

header nav #write-button {
  width: 100px;
  height: 40px;
  background-color: var(--color_highlight);
  color: var(--color_white);
  border-radius: 50px;
}


/*카테고리 영역*/
#category {
  width: 300px;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  margin-top: 27px;
}

#category #searching-menu {
  display: flex;
  align-items: center;
  height: 27px;
}

#category #searching-menu img{
  width: 24px;
  height: 24px;
  padding: 3px;
}

#category #searching-menu .search {
  font-size: var(--size_menu);
}

#category .searching-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border: 1px solid var(--color_black);
  padding: 8px;
  margin-top: 15px;
  background-color: var(--color_white);
}

#category .searching-input #searching {
  width: 100%;
  border: none;
  background-color: var(--color_white);
}


#category #filter-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 42px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--color_black);
  margin-top: 37px;
}

#category #filter-menu img {
  width: 24px;
  height: 24px;
  padding: 3px;
}

#category #filter-menu .filter {
  font-size: var(--size_menu);
}

#category .category-menu {
  display: block;
  margin: 15px 0px;
  font-size: var(--size_menu-medium);
}

#category .book-from {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color_black);
  font-size: var(--size_button);
}

#category .book-from button {
  width: 95px;
  border: 1px solid var(--color_black);
  padding: 11px 10px;
  margin-right: 7.5px;
  background-color: var(--color_white);
}

#category .book-from button:hover {
  background-color: rgb(0, 0, 0, 0.08);
}

#category .book-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: var(--size_button);
}

#category .book-type .field {
  width: 95px;
  border: solid 1px var(--color_black);
  padding: 11px 10px;
  margin: 4px 0px;
  background-color: var(--color_white);
}

#category .book-type .field:hover {
  background-color: rgb(0, 0, 0, 0.08);
}

#category .book-type .field-selected{
  background-color: var(--color_highlight);
}

#category .category-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 32px;
}

#category .category-action .filter-search {
  width: 222px;
  height: 40px;
  color: var(--color_white);
  border: 1px solid var(--color_black);
  background-color: var(--color_highlight);
}

#category .category-action .initialize {
  width: 72px;
  height: 40px;
  border: 1px solid var(--color_black);
  background-color: rgb(0, 0, 0, 0.08);
}

/*콘텐츠 영역*/
#array {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 2 /3;
  grid-row: 2 / 3;
}

#array .content-array {
  display: flex;
}

#array .content-array .best {
  width: 100px;
  text-align: center;
}

#array .content-array .latest {
  width: 100px;
  text-align: center;
}

.view-type {
  opacity: 0.38;
}

.view-type img{
  width: 24px;
  height: 24px; 
}

.main {
}

/* grid-view */

#grid-view {
  display: none;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(270px, 300px));
  grid-template-rows: repeat(auto-fill, minmax(220px, auto));
  gap: 21px;
} 

#grid-view .grid-view-content {
  position: relative;
  width: 286px;
  background-color: var(--color_white);
  border: 1px solid rgb(0, 0, 0, 0.87);
}

#grid-view .grid-view-content .grid-view-content-img {
  width: 100%;
  height: 150px;
  overflow: hidden;
  background-color: rgb(0, 0, 0, 0.08);
  text-align: center;
}

#grid-view .grid-view-content .grid-view-content-like {
  position: absolute;
  display: flex;
  align-items: center;
  top: 118px;
  right: 10px;
}

#grid-view .grid-view-content .grid-view-content-like img {
  width: 20px;
  height: 20px;
}

#grid-view .grid-view-content .grid-view-content-like .like-number {
  color: var(--color_white);
  font-size: var(--size_like-number);
}

#grid-view .grid-view-content .grid-book-info {
  padding: 5px 15px;
}

#grid-view .grid-view-content .grid-book-info .grid-content-title {
  height: 42px;
  font-size: var(--size_grid-content-title);
}

#grid-view .grid-view-content .grid-book-info .grid-book-title {
  font-size: var(--size_grid-book-title);
}

#grid-view .grid-view-content .grid-book-info .summary {
  font-size: var(--size_summary);
}

#grid-view .grid-view-content .write-info {
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 45px;
  border-top: 1px solid rgb(0, 0, 0, 0.08);
  padding: 10px 15px;
  font-size: var(--size_write-info);
}


/* list-view */
#list-view {
  display: flex;
  flex-direction: column;

}

#list-view .classification {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 46px;
  border-top: 1px solid var(--color_black);
  border-bottom: 1px solid var(--color_black);
  padding: 10px;
  font-size: var(--size_list-view);
}

#list-view .classification .classification-content-title {
  width: var(--width_list-view-content-title);
}

#list-view .classification .classification-book-title {
  width: var(--width_list-view-book-title);
}

#list-view .classification .classification-profile-nickname {
  width: var(--width_list-view-profile-nickname);
}

#list-view .list-view-content {
  display: flex;
  align-items: center;
  height: var(--height_list-view-content);
  border-bottom: 1px solid rgb(0, 0, 0, 0.08);
  padding: var(--padding_list-view-content);
  font-size: var(--size_list-view-content);
}

#list-view .list-view-content .list-content-title {
  width: var(--width_list-view-content-title);
  padding-right: var(--padding_lsit-view-content-right);
}

#list-view .list-view-content .list-book-title {
  width: var(--width_list-view-book-title);
  padding-right: var(--padding_lsit-view-content-right);
}

#list-view .list-view-content .list-profile-nickname {
  width: var(--width_list-view-profile-nickname);
  padding-right: var(--padding_lsit-view-content-right);
}