<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodMapper">
	<insert id="insert" parameterType="Good">
		insert into good
		values(null, #{userNo}, #{writingNo})
	</insert>
	
	<delete id="delete" parameterType="Good">
		delete from good
		where userNo = #{userNo}
			and writingNo = #{writingNo}
	</delete>
	
	<select id="get" parameterType="Good" resultType="int">
		select count(*)
		from good
		where userNo = #{userNo}
			and writingNo = #{writingNo}
	</select>
</mapper>

